{% extends 'base.html' %}
{% load my_templatetags %}
{% block content %}

<link rel="stylesheet" href="../../static/css/styles.css">
<head>
    <script>
    function displaycrawler(){
        if(document.getElementById("crawlerImg").style.display == "none"){
            document.getElementById("crawlerImg").style.display="block";
        }else{
            document.getElementById("crawlerImg").style.display="none";
        }

    }
    </script>
</head>

<body>
    <form action="" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                標題：{{ dataFilter.form.cTitle}}
                看板：{{ dataFilter.form.cForumName}}
                標籤：{{ dataFilter.form.cTag}}
            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="查詢">
                <br />
            </div>
        </div>
    </form>

    <form action="insert/" method="Post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                <input class="form-control" name="kanban_name" placeholder="insert看板名稱">
            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="填入資料庫">
            </div>
        </div>
    </form>

    <input type="button" class="crawlerPicture" id = "b1" onclick="displaycrawler()" value="今日文字雲">

    <p><img src="/static/images/wordcloud/relationship.png"
        id="crawlerImg" class = "crawlerImg"alt ="爬蟲圖片">
    </p>
    <table class="table table-hover">

        <thead>
            <tr >
                <th>標題</th>
                <th>所屬看版</th>
                <th>按讚數</th>
                <th>留言數</th>
                <th>標籤</th>
                <th>情緒分析<th>
                <th>縮圖</th>
            </tr>
        </thead>
        <tbody>

            {% for ticket in DataPage %}
            <tr>
                <td>
                    <b><a href="{{ ticket.link }}" target="_blank">{{ ticket.cTitle }}</a></b>
                </td>
                <td>{{ticket.cForumName}}</td>
                <td>{{ ticket.cCommentCount }}</td>
                <td>{{ ticket.cLikeCount }}</td>
                <td>{{ ticket.cTag }}</td>
                <td>{{ticket.mood}}</td>
                <td><img src={{ ticket.img }} style="width:100px; heigh:80px;" /></td>

            </tr>

            {% endfor %}
        </tbody>
    </table>


<div class="pagination">
      <span class="step-links">
        {% if DataPage.has_previous %}
            <a href="{% relative_url DataPage.previous_page_number 'page' request.GET.urlencode %}">上一頁</a>
        {% endif %}
          <span class="current">
            Page {{ DataPage.number }} of {{ DataPage.paginator.num_pages }}.
          </span>
          {% if DataPage.has_next %}

              <a href="{% relative_url DataPage.next_page_number 'page' request.GET.urlencode %}">下一頁</a>
          {% endif %}
      </span>

</div>
<ul class="pagination">
  {% for i in DataPage.paginator.page_range %}
    <li>
      <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a><a>&ensp;</a>
    </li>
  {% endfor %}
</ul>
    {% comment %} {{ dataFilter.qs }} {% endcomment %}
    <div class="bubbles">
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>

    </div>
</body>
{% endblock %}