{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="../../static/css/styles.css">
<head>
    <script>
    function displaycrawler(){
        if(document.getElementById("crawlerImg").style.display == "none"){
            document.getElementById("crawlerImg").style.display="block";
        }else{
            document.getElementById("crawlerImg").style.display="none";
        }

    }
    </script>
</head>

<body>
    <form action="" method="Post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                標題：{{ dataFilter.form.cTitle}}

            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="查詢">
                <br />
            </div>
        </div>
    </form>


    <input type="button" class="crawlerPicture" id = "b1" onclick="displaycrawler()" value="今日文字雲">

    <p><img src="/static/images/wordcloud/pet.png"
            id="crawlerImg" class = "crawlerImg"alt ="爬蟲圖片"></p>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>標題</th>
                <th>所屬看版</th>
                <th>按讚數</th>
                <th>留言數</th>
                <th>標籤</th>
                <th>縮圖</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in dataFilter.qs %}
            <tr>
                <td>
                    <b><a href="{{ ticket.link }}" target="_blank">{{ ticket.cTitle }}</a></b>
                </td>
                <td>{{ticket.cForumName}}</td>
                <td>{{ ticket.cCommentCount }}</td>
                <td>{{ ticket.cLikeCount }}</td>
                <td>{{ ticket.topics }}</td>

                <td><img src={{ ticket.img }} style="width:100px; heigh:80px;" /></td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
    {{ tickets }}
    <div class="bubbles">
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>

    </div>
</body>
{% endblock %}