{% extends 'base.html' %}
{% load my_templatetags %}
{% block content %}

<link rel="stylesheet" href="../../static/css/styles.css">
<head>
    <script>
        window.onload = function () {
            let prev = document.getElementById("prev");
            let next = document.getElementById("next");
            let img = document.getElementsByTagName("img")[0];
            let info = document.getElementById("info");
            //建立一個數組儲存照片的路徑
            let imgArr = ["relationship.png", "trending.png", "mood.png", "girl.png", "funny.png"];
            let index = 0;
            let imgName = ["感情","時事","心情","女孩","有趣"]
            info.innerText = "一共有" + imgArr.length + "個看板，現在是" +  imgName[index] + "版";
            prev.onclick = function () {
                index--;
                prev.style.backgroundColor="#ff4c31";
                if (index < 0) {
                    index = imgArr.length - 1;
                }
                document.getElementById("kanban").src = "/static/images/wordcloud/"+imgArr[index];
                info.innerText = "一共有" + imgArr.length + "個看板，現在是" + imgName[index] + "版";
            };

            next.onclick = function () {
                index++;
                next.style.backgroundColor="#ff4c31";
                if (index > imgArr.length - 1) {
                    index = 0;
                }
                document.getElementById("kanban").src = "/static/images/wordcloud/"+imgArr[index];
                info.innerText = "一共有" + imgArr.length + "個看板，現在是" +  imgName[index] + "版";
            };

        };
        function reP(){
            var ele = document.getElementById("oImg");
	        if (ele.style.display == 'block'){
                ele.style.display = "none";
            }
            else{
                ele.style.display ='block'
            }
    }

    </script>
</head>

<body>
    <form action="" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                標題：{{ dataFilter.form.cTitle}}
                看板：{{ dataFilter.form.cForumName}}
                標籤：{{ dataFilter.form.cTag}}
            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="查詢">
                <br />
            </div>
        </div>
    </form>

    <form action="insert/" method="Post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                <input class="form-control" name="kanban_name" placeholder="insert看板名稱">
            </div>
            <div class="form-group col-1">
                <input class="btn btn-dark" type="submit" value="填入資料庫">
            </div>
        </div>
    </form>

    <form action="MakeOneCloud/" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-11">
                想要製作的關鍵字:{{ dataFilter.form.cTitle}}
            </div>
            <div class="form-group col-1">

                <input class="btn btn-dark" type="submit" value="生成文字雲" >
            </div>
        </div>
    </form>

	<INPUT TYPE="button" value='點擊查看搜尋文字雲' onclick="reP()">
    <img src="/static/images/wordcloud/Search.png" id="oImg" style='display:none' width="800px" hight="600px">
    <br>
    <br>


    <div class="btn btn-white">

        <img id = 'kanban' src="/static/images/wordcloud/relationship.png" style="width:60%">
        </br>
        <button id="prev" style="background-color: #FFF;">上一張</button>
        <button id="next" style="background-color: #FFF;">下一張</button>
        </br>
        <p id="info"></p>
    </div>
    <table class="table table-hover">

        <thead>
            <tr >
                <th>標題</th>
                <th>所屬看版</th>
                <th>按讚數</th>
                <th>留言數</th>
                <th>標籤</th>
                <th>情緒分析<th>
                <th>縮圖</th>
            </tr>
        </thead>
        <tbody>

            {% for ticket in DataPage %}
            <tr>
                <td>
                    <b><a href="{{ ticket.link }}" target="_blank">{{ ticket.cTitle }}</a></b>
                </td>
                <td>{{ticket.cForumName}}</td>
                <td>{{ ticket.cLikeCount }}</td>
                <td>{{ ticket.cCommentCount }}</td>
                <td>{{ ticket.cTag }}</td>
                <td>{{ticket.mood}}</td>
                <td><img src={{ ticket.img }} style="width:100px; heigh:80px;" /></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>


<div class="pagination">
      <span class="step-links">
        {% if DataPage.has_previous %}
            <a href="{% relative_url DataPage.previous_page_number 'page' request.GET.urlencode %}">上一頁</a>
        {% endif %}
          <span class="current">
            Page {{ DataPage.number }} of {{ DataPage.paginator.num_pages }}.
          </span>
          {% if DataPage.has_next %}

              <a href="{% relative_url DataPage.next_page_number 'page' request.GET.urlencode %}">下一頁</a>
          {% endif %}
      </span>

</div>
<ul class="pagination">
  {% for i in DataPage.paginator.page_range %}
    <li>
      <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a><a>&ensp;</a>
    </li>
  {% endfor %}
</ul>
    {% comment %} {{ dataFilter.qs }} {% endcomment %}
    <div class="bubbles">
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>
        <img src = "../../static/images/pictures/bubble.png"/>

    </div>
</body>
{% endblock %}