{% extends 'base.html' %}
<!DOCTYPE html>
<html>
 <head>
  <title>顯示所有資料</title>
 </head>
 <body>
  <h2>顯示 student 資料表所有資料</h2>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>標題</th>
                <th>所屬看版</th>
                <th>按讚數</th>
                <th>留言數</th>
                <th>標籤</th>
                <th>縮圖</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>
                    <b><a href="{{ ticket.link }}" target="_blank">{{ ticket.title }}</a></b>
                </td>
                <td>{{ticket.forumAlias}}</td>
                <td>{{ ticket.commentCount }}</td>
                <td>{{ ticket.likeCount }}</td>
                <td>{{ ticket.topics }}</td>

                <td><img src={{ ticket.img }} style="width:100px; heigh:80px;" /></td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
 </body>
</html>